<html>
<head>
  <title></title>
</head>
<body>
  <b>Number of sales:</b><%= @seller.num_sales %>
</p>
<p>
  <b>Total sales value:</b><%= @seller.total_sales %>
</p>
<p>
  <b>Average price:</b><%= @seller.total_sales/num_sales %>
</p>
</body>
</html>

